block reviews 

.reviews 
    .wrapper.reviews__wrapper 
        .review 
            .review__text-wrapper
                span.review__text 
                    |Fantastic work. such an efficient streamlined way to obtain #[br]
                    |a design. Super happy thanks!
            .review__user-wrapper 
                img(class='review__user-img' src='img/6reviews/webp/user1.webp')
                span.username Kelly Williams 
                span.proffesion Head of Design, Layers
                .stars-wrapper 
                    img(class='review__stars' src='img/6reviews/stars.png')
