@import "../basic/libs/smartgrid/smartgrid";
/* smartgrid etc*/

.reviews {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 160px;

    }

    .review {
        margin-top: 65px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        width: 47%;
        @include sm(width, 100%);
        background: #eee;
        padding: 15px 20px;


        &__user-wrapper {
            display: flex;
            flex-direction: column;
        }

        &__user-img {
            max-width: 53px;
        }

        .username {
            margin-top: 10px;
        }

        .proffesion {
            color: grey;
        }
    }
}