block makeyoursite 



.makeyoursite 
    .wrapper
        h2.title.makeyoursite__title 
            |make your awesome website. You #[br] have a vision. We have a way to #[br] get you there.

        .makeyoursite__content
            p.makeyoursite__description 
                |Iste natus error sit voluptatem #[br] accusantium doloremque laudantium, #[br] totam rem aperiam eaque ipsa quae illo #[br] inventore veritatis quasi.
                img(class='makeyoursite__arrow' src='assets/img/3makeyoursite/arrow.png')

            img(class='makeyoursite__woman-img' src='assets/img/3makeyoursite/webp/woman.webp' data-ext='jpg')

        