block selectedprojects 

.selectedProjects 
    .wrapper 
        h2.title.selectedProjects__title selected projects
        .selectedProjects__content
            p.selectedProjects__description 
                |Sed ut dolor sit amet, consectetur adipiscing elit. Phasellus ac ipsum a #[br] lectus vulputate porta vitae non enim. Donec et ante leo.
            button(class='btn selectedProjects__btn popup-trigger') View all projects
        img(class='selectedProjects__img' src="placeholder.jpg" data-src='assets/img/4selectedprojects/webp/selectedprojects.webp' data-ext='jpg')