block expert 

.expert 
    .wrapper
        h2.title.expert__title 
            |I’m veronica, Your go-to No-code #[br] web designer and branding expert
        .expert__content 
            .expert-img-wrapper
                img(class='expert__img' src="placeholder.jpg" data-src='assets/img/5expert/webp/expert.webp' data-ext='jpg')
                img(class='expert__arrow' src='assets/img/5expert/arrow.png')
        .expert__description 
            p
                |Lorem ipsum dolor sit amet, 
                |consectetur adipiscing elit, sed do eiusmod #[br] tempor 
                |incididunt ut labore et dolore magna aliqua. 
                |Ut enim ad minim #[br] veniam, quis nostrud exercitation 
                |ullamco laboris nisi ut aliquip ex ea #[br] commodo consequat. #[br] #[br]

                |Duis aute irure dolor in reprehenderit in 
                |voluptate velit esse cillum dolore #[br] eu fugiat nulla pariatur. 
                |Excepteur sint occaecat cupidatat non proident, #[br] 
                |sunt in culpa qui officia deserunt mollit anim id est laborum. #[br] #[br] #[br]

            button(class='btn expert__btn popup-trigger') Learn more about me