block nav_footer


.nav_footer
    .wrapper
        .nav 
            img(class='logo', src='placeholder.js' data-src='assets/img/2nav/veronica.svg')
            .menu
                .menu__item.menu__item_home Home
                .menu__item.menu__item_projects Projects 
                .menu__item.menu__item_blog Blog
                .menu__item.menu__item_shop Shop
                .menu__item.menu__item_about About
                .menu__item.menu__item_contact Contact

        div(class='slickslider_wrapper' style='width: 500px;')
            include ../basic/slickslider/slider.pug
            +slider('slider', 'assets/img/9navfooter/webp/')