@font-face {
  font-family: "DM Sans Medium";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Thin";
  src: url("../fonts/Inter/Inter_Thin_100.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/Oswald/Oswald_Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Oswald Light";
  src: url("../fonts/Oswald/Oswald_Light.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Oswald ExtraLight";
  src: url("../fonts/Oswald/Oswald_ExtraLight.ttf") format("opentype");
  font-display: swap;
}